services:
  server:
    image: imise/id-logik-server:1.0
    container_name: id-logik-server
    networks:
      recommender-network:
    restart: unless-stopped
    entrypoint: /opt/diacos/daemon.sh
  recommender:
    image: ghcr.io/medizininformatik-initiative/gemtex/inception-idlogik-recommender:0.3.0
    container_name: id-logik-recommender
    networks:
      recommender-network:
    restart: unless-stopped
    depends_on:
      server:
        condition: service_healthy
    environment:
      - spring.main.allow-bean-definition-overriding=true
    command: --idlogik.port=7777 --idlogik.host=id-logik-server --idlogik.licence=''

networks:
  recommender-network:
    external: true
    name: recommender-network
